﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Опрос Market Player</title>        
    <link rel="icon" type="image/x-icon" href="/favicon32.png" />
    <script src="~/Scripts/jquery@3.2.1.js"></script>
    <script src="~/scripts/survey-jquery/survey.jquery.js"></script>
    <script src="~/Scripts/jquery.mark.min.js"></script>
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/Scripts/showdown.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css">    
    <link rel="stylesheet" href="~/styles/blue-theme.css">    
    <link rel="stylesheet" href="~/styles/white-theme.css">        
    <link rel="stylesheet" href="~/styles/style.css">        
    <link rel="stylesheet" href="~/styles/concept.css">        
    <style>
        .progress-bar span, input[value=hide_me]{
            display: none;
        }

    </style>

    <style>
        .panel-body {
            /*width: 80%;*/
            margin: 0 auto;
            padding-bottom: 110px;
        }

        #surveyElement{
            padding: 0 50px;
        }
    </style>
</head>

<body class="blue-theme">
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          
            <a class="navbar-brand logo" href="#"></a>
        </div>
        
    </div>
</nav>  
<div class="container" style="padding-top: 100px;">   
    <div id="surveyElement">
    </div>     
</div>
<script>
    var questionsMap = @Html.Raw(ViewBag.Questions);
    var questionsChoicesMap = @Html.Raw(ViewBag.QuestionChoices);
</script>
<script src="~/scripts/index.js?v=1"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    if (location.href.indexOf('localhost') === -1) {
        (function(d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter44513992 = new Ya.Metrika({
                        id: 44513992,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    }
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44513992" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>