﻿@model MarketPlayer.Survey.Models.ReportItem
    

<div style="width: 1000px;">
    <canvas width="1000" height="400" id="canvas_@Model.QuestionCode" ></canvas>
</div>

<script>
    chartsData['@Model.QuestionCode'] = {
        labels: [],
        datasets: [
            {
                label: "My First dataset",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
                data: []
            }
        ]
    };

    @foreach (var item in Model.QuestionChoices)
    {
        @:chartsData['@Model.QuestionCode'].labels.push('@item.Text');
        @:chartsData['@Model.QuestionCode'].datasets[0].data.push('@item.Value');
    }
    $(function() {
        window.charts['@Model.QuestionCode'] = new Chart(
            document.getElementById("canvas_@Model.QuestionCode").getContext("2d"),
            {
                type: 'horizontalBar',
                data: chartsData['@Model.QuestionCode'],
                options: {
                    // Elements options apply to all of the options unless overridden in a dataset
                    // In this case, we are setting the border of each horizontal bar to be 2px wide
                    elements: {
                        rectangle: {
                            borderWidth: 2,
                        }
                    },
                    responsive: false,
                    legend: {
                        position: 'right',
                        display: true
                    },
                    title: {
                        display: true,
                        text: '@Model.QuestionCode' + '. ' + '@Model.QuestionText'
                    },
                  /*  scales: {
                        xAxes: [
                            {
                                display: true,
                                gridLines: {
                                    display: true
                                }
                            }
                        ],
                        yAxes: [
                            {
                                barThickness: 10,
                                stacked: true,
                                //categoryPercentage: 0.6,
                                //barPercentage: 0.1,
                                gridLines: {
                                    display: false
                                }
                            }
                        ]
                    }*/
                }
            });
    });
</script>