﻿@using MarketPlayer.Survey.Models
@model List<MarketPlayer.Survey.Models.ReportItem>
@{
    ViewBag.Title = "Отчет";
}

<script>
    var chartsData = {};
    window.charts = {};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>

@foreach (var item in Model)
{
    if (item.QuestionType == QuestionType.Choice)
    {
        Html.RenderPartial("Choice", item);
    }

}