@body-color: #0088FE;;
@text-color: #fff;
@border-color: #fff 2px solid;
@hover-color: #07A6FC;
@logo: '../images/LOGO_MM_white.svg';
@alert-back-color:#fff;

.navbar {
    background-color: @body-color;
    transition: background-color 1s linear;
}

input[type="radio"] {
    display: none;
    }

    p{
    color:@text-color; 
    }

label {
    display: inline-block;        
    padding: 4px 11px;
    font-family: Arial;
    font-size: 18px;
    cursor: pointer;
    border-radius: 17px;        
    text-align: center;
    border: @border-color;
    color: @text-color;        
}

label:hover, .panel-footer:hover {
    background-color: @hover-color;
}

span {
    padding: 0 10px;
    color: @text-color;
}

.radio {
    width: auto !important;
    margin: 0 10px;
    padding: 5px 0;
}

input[type=radio] ~ .check {
  display: none;
}

input[type=radio]:checked ~ .check {
  display: block;  
  float:right;
  padding: 0;
}


.panel-footer{ 
  transition: background-color 1s linear;
  background-color: @body-color !important;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 80%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.panel-footer .btn.btn-primary {
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    border: @text-color 2px solid;
    border-radius: 17px;
    color: @text-color;

    &:focus, &.focus {        
        outline: none;
    }
}

.logo {
    background: url(@logo) no-repeat;
    margin-left: 50px;
    width: 170px;
    margin-top: 10px;   
    
    height: 42px;
    display: block;
}

.alert-danger {
    background-color: @alert-back-color;
    border-color: @alert-back-color;
}

h5, .h5 {
    font-size: 17px;
    color: @text-color;

    span{
        padding: 0;
    }
}

h3 {
  color: @text-color;
}