
.blue-theme {
    @import "_theme.less";

    @body-color: #0088FE;
    @text-color: #fff;
    @border-color: #fff 2px solid;
    @hover-color: #07A6FC;
    @alert-back-color: #fff;
}  
   

 body.blue-theme {
   background-color: #0088FE;
   transition: background-color 1s linear;
 }
 
    

     

 
       