  @font-face {
    font-family: Exo2Regular;
    src: url("../fonts/Exo2-Regular.ttf") format('truetype');
}

    @font-face {
    font-family: Exo2Bold;
    src: url("../fonts/Exo2-Bold.ttf") format('truetype');
}
.concept {
    color: #000;
    padding-top: 40px;

    span, p {
        color: #000;
    }

    font-family: 'Exo2Regular', sans-serif;
    width: 900px;
    transition: background-color 1s linear;

    .concept-header {
        font-weight: bold;
        font-size: 16px;
        font-family: 'Exo2Bold';
        padding: 0 20px;
    }

    .conpect-body .center, .concept-footer .center {
        text-align: center;
    }

    .conpect-body {
        margin-top: 40px;
    }

    .concept-footer {
        font-weight: bold;
        font-size: 15px;
        padding-top: 65px;

        .nothing-button {
            padding-top: 10px;

            span {
                background-color: transparent;
                border-color: transparent;
                font-size: 18px;
                /*border: #0088FE 2px solid;*/
                border-radius: 17px;
                color: #0088FE;
                padding: 4px 10px;
            }
        }
    }

    .conpect-body h5.title {
        color: #D75D4B;
        font-size: 18px;
    }

    .photo img {
        width: 350px;
        padding-top: 10px;
    }

    word {
        cursor: pointer;

        &.highlight {
            color: #0088FE;
        }
    }

    input[type=radio] {
        display: none;
    }

    input[type=radio] ~ .check {
        display: none;
    }

    input[type=radio]:checked ~ .check {
        display: block;
        float: right;
        padding: 0;
    }
}
