﻿@font-face {
  font-family: Exo2Regular;
  src: url("../fonts/Exo2-Regular.ttf") format('truetype');
}
@font-face {
  font-family: Exo2Bold;
  src: url("../fonts/Exo2-Bold.ttf") format('truetype');
}
.concept {
  color: #000;
  padding-top: 40px;
  font-family: 'Exo2Regular', sans-serif;
  width: 900px;
  transition: background-color 1s linear;
}
.concept span,
.concept p {
  color: #000;
}
.concept .concept-header {
  font-weight: bold;
  font-size: 16px;
  font-family: 'Exo2Bold';
  padding: 0 20px;
}
.concept .conpect-body .center,
.concept .concept-footer .center {
  text-align: center;
}
.concept .conpect-body {
  margin-top: 40px;
}
.concept .concept-footer {
  font-weight: bold;
  font-size: 15px;
  padding-top: 65px;
}
.concept .concept-footer .nothing-button {
  padding-top: 10px;
}
.concept .concept-footer .nothing-button span {
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
  /*border: #0088FE 2px solid;*/
  border-radius: 17px;
  color: #0088FE;
  padding: 4px 10px;
}
.concept .conpect-body h5.title {
  color: #D75D4B;
  font-size: 18px;
}
.concept .photo img {
  width: 350px;
  padding-top: 10px;
}
.concept word {
  cursor: pointer;
}
.concept word.highlight {
  color: #0088FE;
}
.concept input[type=radio] {
  display: none;
}
.concept input[type=radio] ~ .check {
  display: none;
}
.concept input[type=radio]:checked ~ .check {
  display: block;
  float: right;
  padding: 0;
}