﻿@font-face {
  font-family: Exo2Regular;
  src: url("../fonts/Exo2-Regular.ttf") format('truetype');
}
@font-face {
  font-family: Exo2Bold;
  src: url("fonts/Exo2-Bold.ttf") format('truetype');
}
body {
  font-family: 'Exo2Regular', sans-serif;
}
.btn.btn-primary:focus,
.btn.btn-primary.focus {
  outline: none !important;
}
.form-inline .radio .gray-color-answer {
  border: #ccc 2px solid;
}
.form-inline .radio .gray-color-answer span {
  color: #ccc;
}