@font-face {
    font-family: Exo2Regular;
    src: url("../fonts/Exo2-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Exo2Bold;
    src: url("fonts/Exo2-Bold.ttf") format('truetype');
}

body {
  font-family: 'Exo2Regular', sans-serif;
}


.btn.btn-primary {
    &:focus, &.focus {
        outline: none !important;
    }
}

.form-inline {
    .radio {
        .gray-color-answer {
            border: #ccc 2px solid;

            span {
                color: #ccc;
            }
        }
    }
}