
.white-theme {
    @import "_theme.less";

    @body-color: #fff;
    @text-color: #0088FE;
    @border-color: #0088FE 2px solid;
    @hover-color: #fff;
    @logo: '../images/LOGO_MM2.svg';
    @alert-back-color: inherit;
}  

 body.white-theme {
   background-color: #fff;
   transition: background-color 1s linear;
 }     