﻿.white-theme .navbar {
  background-color: #fff;
  transition: background-color 1s linear;
}
.white-theme input[type="radio"] {
  display: none;
}
.white-theme p {
  color: #0088FE;
}
.white-theme label {
  display: inline-block;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 18px;
  cursor: pointer;
  border-radius: 17px;
  text-align: center;
  border: #0088FE 2px solid;
  color: #0088FE;
}
.white-theme label:hover,
.white-theme .panel-footer:hover {
  background-color: #fff;
}
.white-theme span {
  padding: 0 10px;
  color: #0088FE;
}
.white-theme .radio {
  width: auto !important;
  margin: 0 10px;
  padding: 5px 0;
}
.white-theme input[type=radio] ~ .check {
  display: none;
}
.white-theme input[type=radio]:checked ~ .check {
  display: block;
  float: right;
  padding: 0;
}
.white-theme .panel-footer {
  transition: background-color 1s linear;
  background-color: #fff !important;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 80%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.white-theme .panel-footer .btn.btn-primary {
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
  border: #0088FE 2px solid;
  border-radius: 17px;
  color: #0088FE;
}
.white-theme .panel-footer .btn.btn-primary:focus,
.white-theme .panel-footer .btn.btn-primary.focus {
  outline: none;
}
.white-theme .logo {
  background: url('../images/LOGO_MM2.svg') no-repeat;
  margin-left: 50px;
  width: 170px;
  margin-top: 10px;
  height: 42px;
  display: block;
}
.white-theme .alert-danger {
  background-color: inherit;
  border-color: inherit;
}
.white-theme h5,
.white-theme .h5 {
  font-size: 17px;
  color: #0088FE;
}
.white-theme h5 span,
.white-theme .h5 span {
  padding: 0;
}
.white-theme h3 {
  color: #0088FE;
}
body.white-theme {
  background-color: #fff;
  transition: background-color 1s linear;
}