﻿
<br/>
<br/>
<div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Ссылка</label>
        <input type="text" class="form-control" id="url" placeholder="url" >
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" value="Скопировать ссылку" id="copyButton">
    </div>
</div>

<script>
    $(function() {
        $('#email').change(function (e) {
            var url = location.origin + '?token=' + encodeURIComponent(btoa($(this).val()));
            $('#url').val(url);
        });

        $('#email').focus(function () {
            var copyElement = $(this)[0];
            copyElement.setSelectionRange(0, copyElement.value.length);
        });

        $('#url').focus(function () {
            var copyElement = $(this)[0];
            copyElement.setSelectionRange(0, copyElement.value.length);
        });

        $('#copyButton').click(function() {
            var copyElement = $('#url')[0];
            copyElement.focus();
            copyElement.setSelectionRange(0, copyElement.value.length);

            var result = document.execCommand("copy");
            if (!result) {
                alert('Ошибка при копировании');
            }
        });
    });
</script>